{
  "presets": ["@babel/preset-env", "@babel/preset-flow", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-do-expressions", "@babel/plugin-proposal-export-default-from"],
  "retainLines": true
}
